
* {
}
window#waybar{
  all:unset;
}
.modules-left {
  padding:7px;
  margin:5px;
  border-radius:10px;
  background: rgba(0, 0, 0, 0); 
}
.modules-center {
  padding:7px;
  margin:5px;
  border-radius:10px;
  background: rgba(0, 0, 0, 0); 

}
.modules-right {
  padding:7px;
  margin:5px;
  border-radius:10px;
  background: rgba(0, 0, 0, 0); 
}
tooltip {
  background: rgba(0, 0, 0, 0); 
  color: white;
}
#clock{
  padding: 0px 5px;
  color: rgba(255, 255, 255, 1); /* Bianco puro */
  transition: all .3s ease;
}
#workspaces {
  padding: 0px 5px;
}
#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: rgba(200, 200, 200, 1); /* Bianco più scuro */
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: rgba(220, 220, 220, 1); /* Un po' più chiaro al passaggio */
  border: none;
  text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: rgba(255, 255, 255, 1); /* Bianco puro */
  border: none;
}

#workspaces button.empty {
  color: rgba(180, 180, 180, 1); /* Ancora più scuro */
  border: none;
  text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.2);
}

#workspaces button.empty:hover {
  color: rgba(200, 200, 200, 1);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(255, 255, 255, 0.5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: rgba(255, 255, 255, 1); /* Bianco puro */
  border: none;
}
#bluetooth {
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;

}
#network{
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;

}
#battery{
  padding: 0px 5px;
  transition: all .3s ease;
  color: white;


}
#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#group-expand{
  padding: 0px 5px;
  transition: all .3s ease; 

  color:rgba(255,255,255,255);
}
#custom-expand{
  padding: 0px 5px;
  color: black;
  transition: all .3s ease; 
}
#custom-expand:hover{
  color: black;
}

#cpu,#memory,#temperature{
  padding: 0px 5px;
  transition: all .3s ease; 
  color: white;

}
#custom-endpoint{
  color: black;

}
#tray{
  padding: 0px 5px;
  transition: all .3s ease; 

}
#tray menu * {
  padding: 0px 5px;
  transition: all .3s ease; 
}

#tray menu separator {
  padding: 0px 5px;
  transition: all .3s ease; 
}

#custom-power {
  padding: 0px 5px;
}
